@font-face {
  font-family: 'boldG';
  src: url('./GmarketSansTTFBold.ttf');
}
@font-face {
  font-family: 'lightG';
  src: url('./GmarketSansTTFLight.ttf');
}
@font-face {
  font-family: 'midiumG';
  src: url('./GmarketSansTTFMedium.ttf');
}
